<h1>Chq.to</h1>
<i>(que se lee Chiquito)</i>
<br><br>
<p>
    Con la app <b>Chq.to</b> podrás generar links cortos para redireccionar a tus sitios web favoritos. 
    Su uso es muy sencillo: sólo necesitás registrarte con el botón de arriba para tener tu cuenta y 
    poder generar todos los links que quieras.
    Podés elegir entre links regulares, temporales, privados o efímeros, cada uno con sus propias características:
    <li>Los <b>links regulares</b> son los que se generan por defecto, y no tienen ninguna característica especial.</li>
    <li>Los <b>links temporales</b> tienen una fecha de expiración, y luego de esa fecha ya no se podrá acceder a ellos.</li>
    <li>Los <b>links privados</b> requieren ingresar una contraseña para poder acceder a ellos.</li>
    <li>Los <b>links efímeros</b> sólo pueden ser accedidos una vez, y luego de eso ya no se podrá acceder a ellos.</li>
</p>
