<h1>Editar link</h1>
<i>Nota: no se puede cambiar el tipo de link ni su versión en Chq.to, para eso eliminá el link y crealo nuevamente.</i>

<%= render 'edit_form', link: @link %>

<%= link_to 'Volver', links_path, class: 'btn btn-secondary' %>